
.wrapper1 {
    text-align: center;
    margin-top: 50%;
}

.button1 {
    font-size: large;
    /*top: 50%;*/
    color: white;
    background: #016B3B;
    border-color: #2b542c;
    height: 75px;
    width: 250px;
    margin-bottom: 20px;
}

.buttonRetour {
    background: #016B3B;
    border-color: #2b542c;
    /*height: 75px;*/
    /*width: 250px;*/
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.awesomeBtn{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.buttonDownload {
    background: #016B3B;
    border-color: #2b542c;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.awesomeBtnDownload{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.buttonCouche {
    height: 50px;
    width: 50px;
    background: #016B3B;
    border-color: #2b542c;

}

.awesomeBtnCouche{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.tetePanel {
    padding: 10px 10px !important;
}

.checkbox{
    margin-top:0px;
}

.group label.checkbox{
    margin-left: 40px;
}

.sousMenu{
    margin-left:60px;
}


@media only screen and (max-width: 1024px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    #no-more-tables table {
        border: transparent;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 2px solid #2b542c;
        margin-left: 5%;
        margin-right: 5%;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
       /* border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}


.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f16000;
}

.table-striped>tbody>tr:nth-of-type(even){
    background-color: #f16000;
}

.suppCarte{
    text-align: right !important;
    margin-right: 2px;
}

.boutonModal{
    background: #016B3B;
    border-color: #2b542c;
    color: white;
}

.ol-unselectable{
    background-color: white;
}

.buttonGPS {
    background: #016B3B;
    border-color: #2b542c;
    color: white;
    margin-top: 2%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.finRecherche{
    margin-top:5px;
    height: 40px;
}

.invalid{
    border-color: red;
}

.modal{
    background-color: transparent;
    z-index: 2000;
}

.modal-content{
    border-radius: 10px;
}

#adress{
    height: 40px;
}


#catalog4 input[type=range] {
    width: 100px;
    /* margin-left: 10px; */
    display: inline;
    margin-right: 1px;
}

#catalog5 input[type=range] {
    width: 100px;
    /* margin-left: 10px; */
    display: inline;
    margin-right: 1px;
}

#no-more-tables td{
    margin-bottom: 10px;
}

.buttonSupprimer {
    background: #016B3B;
    border-color: #2b542c;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}